.sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .mat-sidenav {
      width: 225px;
  }
  
  
.card-image {
    background-image: url('https://www.pizzahutdelivery.ro/egendaOnline/image/MzAyMTRfNTkzXzU5M18xXzJfX18/30214_1.jpg');
    background-size: cover;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    background: lightgrey;
    padding: 16px 24px 16px !important;
  }
  
  .mat-card {
    max-width: 100%;
    margin: 5px;
  }
  
  .addonsList {
    display: flex;
    justify-content: space-between;
    margin: 5%;
  }